.cart-toggler {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 9;

  background-color: #000;
  color: #fff;
  text-align: center;

  padding: 1rem;

  border-radius: 8px 0 0 8px;

  &__total {
    background-color: #fff;
    color: #000;

    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 8px;
  }
}
