.add-to-cart,
.toggle-quantity {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10rem;

  cursor: pointer;
  text-transform: uppercase;
}

.add-to-cart {
  padding: 1rem 1.5rem;
}

.toggle-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 10rem;

  &.vertical {
    flex-direction: column;
    width: 3rem;
  }

  button {
    padding: 0.8rem 0;
    background: transparent;
    border: none;
    width: 100%;
    border-radius: 10rem 0 0 10rem;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;

    &:last-of-type {
      border-radius: 0 10rem 10rem 0;
    }
  }
}
